@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

/* NOT WORKING :( */
@theme {
  --color-textGray: #7D7D7D;
  --color-borderGray: #D8D8D8;
  --color-bgGreen: #E2FFE5;
  --color-selectGreen: #359845;
}